{% extends 'base.html.twig' %}

{% set current_page = 'aside-menu-products' %}

{% block title %}New Products{% endblock %}

{% block body %}
    <h4 class="fw-bold py-3 mb-4">
        Products
    </h4>
    <div class="card pb-5">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Categories</h5>
            <a href="{{ path('app_products_index') }}" class="btn btn-secondary">
                <i class="bx bx-arrow-back me-0 me-sm-1"></i>
                <span class="d-none d-sm-inline-block">Back to List</span>
            </a>
        </div>
        {{ include('products/_form.html.twig') }}
    </div>
{% endblock %}
