{% extends 'base.html.twig' %}

{% set current_page = 'aside-menu-categories' %}

{% block title %}Edit Categories{% endblock %}

{% block body %}
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Product /</span> Categories
    </h4>
    <div class="card pb-5">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Categories</h5>
            <div>
                <a href="{{ path('app_categories_index') }}" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-left me-0 me-sm-1"></i>
                    <span class="d-none d-sm-inline-block">Back to List</span>
                </a>
                <a href="{{ path('app_categories_new') }}" class="btn btn-primary">
                    <i class="bx bx-plus me-0 me-sm-1"></i>
                    <span class="d-none d-sm-inline-block">Add Category</span>
                </a>
            </div>
        </div>
        {{ include('categories/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <!-- Category List Card -->
{% endblock %}
