{% extends 'base.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Categories</h1>
        {{ include('categories/_form.html.twig') }}
        <a href="{{ path('app_categories_index') }}">back to list</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>

{% endblock %}
