{% extends 'base.html.twig' %}

{% block title %}Edit RetiredInventory{% endblock %}

{% block body %}
    <h1>Edit RetiredInventory</h1>

    {{ include('retired_inventory/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_retired_inventory_index') }}">back to list</a>

    {{ include('retired_inventory/_delete_form.html.twig') }}
{% endblock %}
