{% extends 'base.html.twig' %}

{% block title %}New StockMovementItem{% endblock %}

{% block body %}
    <h1>Create new StockMovementItem</h1>

    {{ include('stock_movement_item/_form.html.twig') }}

    <a href="{{ path('app_stock_movement_item_index') }}">back to list</a>
{% endblock %}
