<form method="post" action="{{ path('app_stock_request_delete', {'id': stock_request.id}) }}" id="delete_site_form"
      class="delete-form" data-product-name="{{ site.name|default('this item') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock_request.id) }}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
