{% extends 'base.html.twig' %}

{% set current_page = 'aside-menu-stock-requests' %}

{% block title %}Edit Products{% endblock %}

{% block additional_js %}
    {{ include('partials/active_menu_script.html.twig') }}
{% endblock %}

{% block body %}
    <h3 class="fw-bold py-3 mb-4 ms-3">
        Stock Request
    </h3>
    <div class="card pb-5">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Stock Request Item</h5>
            <div>
                <a href="{{ path('app_stock_request_edit', {'id': stock_request_item.stockRequest.id}) }}" class="btn
                btn-secondary">
                    <i class="bx bx-arrow-back me-0 me-sm-1"></i>
                    <span class="d-none d-sm-inline-block">Back to Request</span>
                </a>
            </div>
        </div>
        {{ include('stock_request_items/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
