{% extends 'base.html.twig' %}

{% block title %}Edit StockRequestItems{% endblock %}

{% block body %}
    <h1>Edit StockRequestItems</h1>

    {{ include('stock_request_items/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stock_request_items_index') }}">back to list</a>

    {{ include('stock_request_items/_delete_form.html.twig') }}
{% endblock %}
